﻿@model IntegritySheet.Models.WorkOrderSummary

@{
    ViewBag.Title = "Details";

}

@*<style>
        .no-print, .no-print * {
            display: none !important;
        }
    </style>*@
<script>
    function goBack() {
        window.history.back();
    }

</script>

<h1>BSK Associates</h1>
<h2>Receipt Conditions</h2>
<p class="no-print">
    @(Html.DevExtreme().Button()
        .Text("Back")
        .Type(ButtonType.Default)
        .StylingMode(ButtonStylingMode.Contained)
        .Width(150)
        .OnClick("goBack")
    )
    <br/>
    @Html.ActionLink("Convert View To PDF", "PrintViewToPdf", new { ssid = Model.WorkOrderSummaryID })
    @Html.DisplayFor(model => model.WorkOrderSummaryID)
</p>

<div class="row">
    <div class="col-md-6">
        <b> @Html.DisplayNameFor(model => model.spProject.Customer) : </b>
        @Html.DisplayFor(model => model.spProject.Customer)

    </div>
    <div class="col-md-6">
        <b> @Html.DisplayNameFor(model => model.spProject.Project) : </b>
        @Html.DisplayFor(model => model.spProject.Project)

    </div>

</div>
<div class="row">
    <div class="col-md-6">
        <b> @Html.DisplayNameFor(model => model.spProject.WorkOrder) : </b>
        @Html.DisplayFor(model => model.spProject.WorkOrder)

    </div>
    <div class="col-md-6">
        <b> @Html.DisplayNameFor(model => model.spReceipt.ReceiveDate) : </b>
        @Html.DisplayFor(model => model.spReceipt.ReceiveDate)
    </div>
</div>
<div>
    <p>
        <h5>COC Info</h5>
    </p>
    <table class="table-sm">
        <tr>
            <th>
                Cooler
            </th>
            <th>
                Verification Check
            </th>
            <th>

            </th>
        </tr>
        @foreach (var item in Model.spCOCResponses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(m => item.COC_Info_Check)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Response)
                </td>
            </tr>

        }
    </table>
</div>
<div>
    <p>
        <h5>Bottles Received</h5>
    </p>
    <table class="table-sm">
        <tr>
            <th>
                Location
            </th>
            <th>
                Container
            </th>
            <th>
                Checks
            </th>
            <th>
                Passed?
            </th>
            <th>
                Split or Preserved
            </th>

        </tr>
        @foreach (var item in Model.containers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.SampleLocation.Description)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Container.Bottle)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Container.Check)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Response)
                </td>
                <td>
                    @Html.DisplayFor(m => item.SplitorPreserved)
                </td>
            </tr>

        }

    </table>
</div>

<div>
    <p>
        <h5>Split or Preserved</h5>
    </p>
    <table class="table-sm">
        <tr>
            <th>
                Split or Preserved
            </th>
            <th>
                Original Bottle
            </th>
            <th>
                Number of Bottles
            </th>
            <th>
                Preservative
            </th>
            <th>
                Date Completed
            </th>

        </tr>
        @foreach (var item in Model.splitData)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Split_Preserve)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Orignal_Bottle)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Number_of_Bottles)
                </td>
                <td>
                    @Html.DisplayFor(m => item.New_Bottle)
                </td>
                <td>
                    @Html.DisplayFor(m => item.DateTime_Split)
                </td>
            </tr>

        }

    </table>
</div>

<div class="row">
    <div class="col-md-6">
        <b> @Html.DisplayNameFor(model => model.spProject.Comment) : </b>
        @Html.DisplayFor(model => model.spProject.Comment)

    </div>
    <div class="col-md-6">

    </div>

</div>
