﻿@model IEnumerable<IntegritySheet.Models.SplitorPreserve>

@{
    ViewBag.Title = "Split Or Preserve";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function goBack() {
        window.history.back();
    }

       function Save(e) {
        var dataGrid = $('#gridContainer').dxDataGrid('instance');
        dataGrid.saveEditData();;
    }
    function Delete(e) {
        var dataGrid = $('#gridContainer').dxDataGrid('instance');
        var selectedRows = dataGrid.getSelectedRowsData();
        for (var i = 0; i < selectedRows.length; i++) {
            dataGrid.deleteRow(selectedRows[i]);
        }
        dataGrid.refresh();

    }
    function Clone(e) {

        var dataGrid = $('#gridContainer').dxDataGrid('instance');
        var selectedRows = dataGrid.getSelectedRowsData();

        //post to controller
        $.post("/SampleLocations/CloneSample/", { id: selectedRows[0].ID, arr: selectedRows }).done(function () {

                        var myvar =    "SampleLocations/Index/" + @ViewBag.ID;

                             window.location.href =  @ViewBag.ID;
                        });
    }

    function Edit(e) {
        var dataGrid = $('#gridContainer').dxDataGrid('instance');
        var selectedRows = dataGrid.getSelectedRowsData();
        var rowindex = dataGrid.getRowIndexByKey(selectedRows[0].ID);
        dataGrid.editRow(rowindex);
    }
    function Cancel(e) {
        var dataGrid = $('#gridContainer').dxDataGrid('instance');
        dataGrid.cancelEditData();
    }

</script>

<h2>Split Descriptions</h2>

<h3>@ViewBag.Location</h3>
<h3>@ViewBag.Name</h3>


@(Html.DevExtreme().DataGrid<IntegritySheet.Models.SplitorPreserve>()
    .ID("gridContainer")
    .DataSource(ds => ds.WebApi()
        .RouteName("SplitorPreservesGridApi")

          .InsertAction("Post").OnBeforeSend("function(actionName, e) { if (actionName == 'insert') { e.data.SLCID = '" + ViewBag.ID + "'; } }")

        .LoadAction("Get")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .LoadParams(new { SLCID = ViewBag.ID })
        .Key("ID")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.SampleAmount).Caption("Sample Amount").DataType(GridColumnDataType.Number);

        columns.AddFor(m => m.Container.Bottle).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().RouteName("SampleLocationContainersGridApi").LoadAction("GetSPBottleData").Key("ID"))
            .DisplayExpr("Bottle")
            .ValueExpr("ID")
        )
        .DataField("BottleID")
        .Caption("Bottle");

        columns.AddFor(m => m.SplitorPreserve1).Lookup(lookup => lookup
                 .DisplayExpr("Name")
                 .ValueExpr("ID")
                 .DataSource(ds => ds.WebApi().RouteName("SampleLocationContainersGridApi").LoadAction("GetSPData").Key("ID"))

        ).Caption("Split Type");

        columns.AddFor(m => m.SplitorPreserveTime).Caption("Split Time").DataType(GridColumnDataType.DateTime);
        columns.AddFor(m => m.Preservative).Caption("Preservative");

    })
        .Editing(e => e
            .Mode(GridEditMode.Cell)
            .AllowUpdating(true)
            .AllowAdding(true)
        )
    )

<br />
<br />

@(Html.DevExtreme().Button()
        .Text("Edit")
        .Type(ButtonType.Default)
        .StylingMode(ButtonStylingMode.Contained)
        .Width(150)
        .OnClick("Edit")
    )
@(Html.DevExtreme().Button()
        .Text("Cancel")
        .Type(ButtonType.Default)
        .StylingMode(ButtonStylingMode.Contained)
        .Width(150)
        .OnClick("Cancel")
    )
@(Html.DevExtreme().Button()
        .Text("Save")
        .Type(ButtonType.Default)
        .StylingMode(ButtonStylingMode.Contained)
        .Width(150)
        .OnClick("Save")
    )
@(Html.DevExtreme().Button()
        .Text("Delete")
        .Type(ButtonType.Default)
        .StylingMode(ButtonStylingMode.Contained)
        .Width(150)
        .OnClick("Delete")
    )
@(Html.DevExtreme().Button()
        .Text("Back")
        .Type(ButtonType.Default)
        .StylingMode(ButtonStylingMode.Contained)
        .Width(120)
        .OnClick("goBack")
    )