﻿@model IEnumerable<IntegritySheet.Models.Comment>

@{
    ViewBag.Title = "Comments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function goBack() {
        window.history.back();
    }

    function Finish() {
        window.location.href = "https://" + location.host;
    }
</script>

<h2>Comments</h2>
@(Html.DevExtreme().DataGrid<IntegritySheet.Models.Comment>()
        .DataSource(ds => ds.WebApi()
        .RouteName("CommentsGridApi")
        .LoadAction("Get")
        .InsertAction("Post").OnBeforeSend("function(actionName, e) { if (actionName == 'insert') { e.data.SISID = '" + ViewBag.ID + "'; } }")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .LoadParams(new { SISID = ViewBag.ID })
        .Key("ID")
    )
    .RemoteOperations(true)
    .Columns(columns => {
        columns.AddFor(m => m.Comment1)
           // .Visible(false)
            .FormItem(i => i
                .Editor(e => e
                    .TextArea()
                    .Width("100%")
                    .Height(100))
                .ColSpan(1)
            ).Caption("Comment");
    })
    .Editing(e => e
        .Mode(GridEditMode.Form)
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    ))
<br />
<br />
<div>
    @(Html.DevExtreme().Button()
        .Text("Back")
        .Type(ButtonType.Default)
        .StylingMode(ButtonStylingMode.Contained)
        .Width(120)
        .OnClick("goBack")
    )
   
</div>