@using IntegritySheet.Models

@{
    ViewBag.Title = "Integrity Sheet";
}


<style>


    .saveicon {
        height: 40px;
        width: 40px;
    }
</style>
<div>
    <h2>Integrity Sheet Results</h2>

    @(Html.DevExtreme().DataGrid<IntegritySheet.Models.SampleIntegritySheet>()
        .DataSource(ds => ds.WebApi()
            .RouteName("SampleIntegritySheetsGridApi")
            .LoadAction("GetID")
            .LoadParams(new { ID =  ViewBag.ID })
            .Key("ID")
          )

        .RemoteOperations(true)
        .AllowColumnReordering(false)
        .Columns(columns =>
        {

            columns.AddFor(m => m.Customer)
            .Name("Customer")
            .Caption("Customer");
            columns.AddFor(m => m.Project).AllowSorting(false)
            .Name("Project");
            columns.AddFor(m => m.CreatedBy).AllowSorting(false);
            columns.AddFor(m => m.SubmittedBy).AllowSorting(false);

            columns.AddFor(m => m.ReceiveDate).SortOrder(SortOrder.Desc).DataType(GridColumnDataType.DateTime).AllowSorting(false);

            columns.AddFor(m => m.CopyWorkOrder).AllowSorting(false);
            columns.AddFor(m => m.TurnAroundTime).DataType(GridColumnDataType.Number).AllowSorting(false);


            columns.AddFor(m => m.ReceivingFacility).Lookup(lookup => lookup
                .DataSourceOptions(o => o
                    .PageSize(1000)
                    .Paginate(true))
                    .DataSource(ds => ds.WebApi().RouteName("SampleIntegritySheetsGridApi").LoadAction("GetFacilityData").Key("ID"))
                .ValueExpr("ID")


                .DisplayExpr("FacilityName"))
                .AllowSorting(false)
                .AllowFiltering(false)


                // .AllowEditing(false)

                .Caption("Facility");


        })

        .ID("gridContainer")

        .Selection(s => s.Mode(SelectionMode.Single))
        .Editing(e => e
            .Mode(GridEditMode.Row)

        )
)
    

</div>

<br />
<br />
<div>

    <h2>Cooler Questionnaire</h2>

    @(Html.DevExtreme().DataGrid<IntegritySheet.Models.Cooler>()
    .DataSource(ds => ds.WebApi()
        .RouteName("CoolersGridApi")
        .LoadAction("Get")
        .InsertAction("Post").OnBeforeSend("function(actionName, e) { if (actionName == 'insert') { e.data.SISID = '" + ViewBag.ID + "'; } }")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .LoadParams(new { SISID = ViewBag.ID })
        .Key("ID")
    )
    .NoDataText("No Coolers Found")

    .LoadPanel(p => p.Enabled(true))
    .ID("gridContainer2")
    .Selection(s => s.Mode(SelectionMode.Single))
    //.OnEditorPreparing(@<text> function(e) { editprepare(e); } </text>)
    .RemoteOperations(true)
    .Columns(columns => {
        columns.AddFor(m => m.Description).Caption("Cooler Description");
        columns.AddFor(m => m.Temperature).Caption("Temperature");

        columns.AddFor(m => m.ShippingMethod).Caption("Shipping Method");
        columns.AddFor(m => m.Courier).Caption("Courier");

        columns.AddFor(m => m.CoolingMethod).Caption("Cooling Method");

        columns.AddFor(m => m.PackingMaterial).Caption("Packing Material");


        columns.AddFor(m => m.CustodySeal).Caption("Custody Seal").DataType(GridColumnDataType.Boolean);

        columns.AddFor(m => m.ChillingProcessBegun).Caption("Chilling Process Begun").DataType(GridColumnDataType.Boolean);
    })
        .MasterDetail(md => {
        md.Enabled(true);
        md.AutoExpandAll(true);
        md.Template(@<text>
            <div class="master-detail-caption"><%- data.Description %>'s Cooler Questions:</div>
            @(Html.DevExtreme().DataGrid<IntegritySheet.Models.COCResponseValidationModel>()
                .ColumnAutoWidth(true)
                .ID(new JS("'COCGrid' + key"))
                .ShowBorders(true)

                .Columns(columns => {

                    columns.AddFor(m => m.COCQuestionText).Caption("Question").AllowSorting(false).AllowEditing(false).Width(600);

                    columns.AddFor(m => m.ResponseValue).Lookup(lookup => lookup
                      .DataSource(ds => ds.WebApi().RouteName("COCResponsesGridApi").LoadAction("GetQuestionData").Key("ID"))
                      .ValueExpr("Name")
                      .DisplayExpr("Name")

                    ).Caption("Answer");


                })
                .Editing(e => e

                    .Mode(GridEditMode.Cell)
                    .AllowUpdating(true)
                    .AllowAdding(false)

                )
                .Selection(s => s.Mode(SelectionMode.Single))
                .DataSource(ds => ds.WebApi()
                    .RouteName("COCResponsesGridApi")
                    .LoadAction("Get")
                     .InsertAction("Post").OnBeforeSend("function(actionName, e) { if (actionName == 'insert') { e.data.CoolerID = '" + new JS("data.ID") + "'; } }")

                    .UpdateAction("Put")
                    .DeleteAction("Delete")
                    .Key("ID")

                 .LoadParams(new { CoolerID = new JS("data.ID") })
                )
            )

            <br />
            <br />
            <h4>PM Information</h4>
            @(Html.DevExtreme().DataGrid<IntegritySheet.Models.PMNotification>()
                .ColumnAutoWidth(true)
                .ID(new JS("'PMGrid' + key"))
                .ShowBorders(true)

                .Columns(columns => {

                    columns.AddFor(m => m.PMName).Caption("PM Name").AllowEditing(true);

                    columns.AddFor(m => m.PMTime).Caption("PM Time").DataType(GridColumnDataType.DateTime);


                })
                .Editing(e => e

                    .Mode(GridEditMode.Cell)
                    .AllowUpdating(true)
                    .AllowAdding(true)

                )
                .Selection(s => s.Mode(SelectionMode.Single))

                .DataSource(ds => ds.WebApi()
                    .RouteName("PMNotificationsGridApi")
                    .LoadAction("Get")
                    .Key("ID")

                 .LoadParams(new { CoolerID = new JS("data.ID") })
                )
            )




        </text>);
        })

        )

    <br />
    <br />

    <h2>Sample Descriptions</h2>

    @(Html.DevExtreme().DataGrid<IntegritySheet.Models.SampleLocation>()
    .DataSource(ds => ds.WebApi()
        .RouteName("SampleLocationsGridApi")
        .LoadAction("Get")
        .LoadParams(new { SISID = ViewBag.ID })
        .Key("ID")
    )
    .NoDataText("No Descriptions Found")

    .LoadPanel(p => p.Enabled(true))

    .ID("gridContainer3")
    .Selection(s => s.Mode(SelectionMode.Multiple))

    .RemoteOperations(true)
    .Columns(columns => {
        columns.AddFor(m => m.Description).Caption("Sample Location");
        columns.AddFor(m => m.SampledBy).Caption("Sampled By");
        columns.AddFor(m => m.SampleDate).Caption("Sampled Date").DataType(GridColumnDataType.DateTime).AllowSorting(false);
    })
        .MasterDetail(md => {
        md.Enabled(true);
        md.AutoExpandAll(true);
        md.Template(@<text>
            <div class="master-detail-caption"><%- data.Description %> Bottle Information:</div>
            @(Html.DevExtreme().DataGrid<IntegritySheet.Models.SampleLocationContainer>()
                .ColumnAutoWidth(true)
                .ID(new JS("'GridSub' + key"))
                .ShowBorders(true)
                .Columns(columns => {


                    columns.AddFor(m => m.Container.Bottle).DataField("Bottle");
                    columns.AddFor(m => m.Container.Check).DataField("Check");
                    columns.AddFor(m => m.SplitorPreserved).Caption("Is Split");
                    columns.AddFor(m => m.Response);
                    columns.AddFor(m => m.SampleType);

              })
                .Editing(e => e

                    .UseIcons(true)
                    .AllowUpdating(true)
                    .Mode(GridEditMode.Row)

                )
                .Selection(s => s.Mode(SelectionMode.Single))
                
                .DataSource(d => d.WebApi()
                    .RouteName("SampleLocationContainersGridApi")
                    .LoadAction("Get")
                    .LoadParams(new { SLID = new JS("data.ID") })
                )

            )
        </text>);
    })
    .Editing(e => e
        .Mode(GridEditMode.Row)
        .AllowAdding(true)
        //.AllowUpdating(true)
        .AllowDeleting(true)
    )

)

    <br />
    <br />
    <h2>Split Descriptions</h2>


    @(Html.DevExtreme().DataGrid<IntegritySheet.Models.SplitorPreserve>()
    .ID("gridContainer4")
    .DataSource(ds => ds.WebApi()
        .RouteName("SplitorPreservesGridApi")

      
        .LoadAction("GetSISID")
        .LoadParams(new { SISID = ViewBag.ID })
        .Key("ID")
    )
    .RemoteOperations(true)
    .Columns(columns => {
        columns.AddFor(m => m.SampleLocationContainer.SampleLocation.Description).Caption("Location Description");
        columns.AddFor(m => m.SampleLocationContainer.Container).Caption("Location Description").DataType(GridColumnDataType.Number);

        columns.AddFor(m => m.SampleAmount).Caption("Sample Amount").DataType(GridColumnDataType.Number);

        columns.AddFor(m => m.Container.Bottle).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().RouteName("SampleLocationContainersGridApi").LoadAction("GetSPBottleData").Key("ID"))
            .DisplayExpr("Bottle")
            .ValueExpr("ID")
        )
        .DataField("BottleID")
        .Caption("Bottle");

        columns.AddFor(m => m.SplitorPreserve1).Lookup(lookup => lookup
                 .DisplayExpr("Name")
                 .ValueExpr("ID")
                 .DataSource(ds => ds.WebApi().RouteName("SampleLocationContainersGridApi").LoadAction("GetSPData").Key("ID"))

        ).Caption("Split Type");

        columns.AddFor(m => m.SplitorPreserveTime).Caption("Split Time").DataType(GridColumnDataType.DateTime);
        columns.AddFor(m => m.Preservative).Caption("Preservative");
        

    })
        .Editing(e => e
            .Mode(GridEditMode.Cell)
            .AllowUpdating(true)
            .AllowAdding(true)
        )
    )


    <br />
    <br />

    <h2>Comments</h2>
    @(Html.DevExtreme().DataGrid<IntegritySheet.Models.Comment>()
        .DataSource(ds => ds.WebApi()
        .RouteName("CommentsGridApi")
        .LoadAction("Get")
        .LoadParams(new { SISID = ViewBag.ID })
        .Key("ID")
    )
    .RemoteOperations(true)
    .Columns(columns => {
        columns.AddFor(m => m.Comment1)
           // .Visible(false)
            .FormItem(i => i
                .Editor(e => e
                    .TextArea()
                    .Width("100%")
                    .Height(100))
                .ColSpan(1)
            ).Caption("Comment");
    })
    .Editing(e => e
        .Mode(GridEditMode.Form)
    ))

</div>
