﻿@{
    ViewBag.Title = "Sign Out";
    Layout = null;
}

<h2>@ViewBag.Title.</h2>
<p class="text-success">You have successfully signed out.</p>


<script type="text/javascript">
    setTimeout(function () {
        //window.close();
        window.open('', '_self', ''); //bug fix
        window.close();
    }, 5000);

</script>