@using IntegritySheet.Models

@{
    ViewBag.Title = "Integrity Sheet";
}


<style>


    .saveicon {
        height: 40px;
        width: 40px;
    }
</style>
<h2>Admin Integrity Sheet</h2>

@(Html.DevExtreme().DataGrid<IntegritySheet.Models.SampleIntegritySheet>()
        .DataSource(ds => ds.WebApi()
            .RouteName("SampleIntegritySheetsGridApi")
            .LoadAction("Get")
            .InsertAction("Post")
            .UpdateAction("Put")
            .DeleteAction("Delete")
            .LoadParams(new { STATUSID = 99 })
            .Key("ID")
          )
        .OnRowInserted(@<text> function(e) { inserted(e); } </text>)
        .OnRowUpdated(@<text> function(e) { inserted(e); } </text>)
        // .OnInitNewRow(@<text> function(e) { setdate(e); } </text>)
        .RemoteOperations(true)
        .AllowColumnReordering(false)
        .Columns(columns =>
        {

            columns.AddFor(m => m.Customer).Lookup(lookup => lookup
            .DataSourceOptions( o => o
            .PageSize(1000)
            .Paginate(true))
                .DataSource(ds => ds.WebApi().RouteName("SampleIntegritySheetsGridApi").LoadAction("ElementClientLookup").Key("Text"))
                .ValueExpr("Text")


                .DisplayExpr("Text"))
            .AllowSorting(false)
            .AllowFiltering(false)


            // .AllowEditing(false)

            .Caption("Customer");
            columns.AddFor(m => m.Project).AllowSorting(false);

            
            columns.AddFor(m => m.CreatedBy).AllowSorting(false);
            columns.AddFor(m => m.SubmittedBy).AllowSorting(false);

            columns.AddFor(m => m.ReceiveDate).SortOrder(SortOrder.Desc).DataType(GridColumnDataType.DateTime).AllowSorting(false);

            columns.AddFor(m => m.CopyWorkOrder).AllowSorting(false);
            columns.AddFor(m => m.TurnAroundTime).DataType(GridColumnDataType.Number).AllowSorting(false);

            columns.AddFor(m => m.StatusLookup.StatusText).Caption("Status");


            columns.AddFor(m => m.ReceivingFacility).Lookup(lookup => lookup
                .DataSourceOptions(o => o
                    .PageSize(1000)
                    .Paginate(true))
                    .DataSource(ds => ds.WebApi().RouteName("SampleIntegritySheetsGridApi").LoadAction("GetFacilityData").Key("ID"))
                .ValueExpr("ID")


                .DisplayExpr("FacilityName"))
                .AllowSorting(false)
                .AllowFiltering(false)


                // .AllowEditing(false)

                .Caption("Facility");

            columns.Add()
            .Type(GridCommandColumnType.Buttons)
            .Width(110)
            .Buttons(b =>
            {
                // pre-defined buttons
                b.Add().Name(GridColumnButtonName.Edit);
                b.Add().Name(GridColumnButtonName.Delete);
                b.Add().Name(GridColumnButtonName.Save).OnClick("onCloneIconClick");
                b.Add().Name(GridColumnButtonName.Cancel).CssClass("saveicon");
            });
        })

        .ID("gridContainer")
        .OnToolbarPreparing("toolbar_preparing")
        .Selection(s => s.Mode(SelectionMode.Single))
        .Editing(e => e
            .AllowAdding(true)
            .UseIcons(true)
            .AllowDeleting(true)
            .AllowUpdating(true)
            .Mode(GridEditMode.Row)
        )

)

<script>


    function toolbar_preparing(e) {


    }
    function inserted(e) {
       // window.location.href = "../COCResponses/Index/" + e.key;
    }

    function setdate(e) {
        const date = new Date();
        date.setDate(date.getDate() + 10);
        e.data.TurnAroundTime = date;

    }


    function onCloneIconClick(e) {
        var dataGrid = $('#gridContainer').dxDataGrid('instance');
        dataGrid.saveEditData();
        if (Number.isInteger(e.row.key)) {

           // window.location.href = "../COCResponses/Index/" + e.row.key;
        }
    }
</script>
