﻿@model IList<IntegritySheet.Models.COCResponseValidationModel>
@{
    ViewBag.Title = "COC Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function Next(e) {

      $.ajax({
            type: "POST",
            url: "/COCResponses/CheckValidation/",
            async: false,
            data: { id:  @ViewBag.ID },
            closeOnOutsideClick: true,
            showCloseButton: true,
          success: function (response) {


              if (response.ID == 1) {

                  $("#popup").dxPopup({
                      title: "Error",
                      width: 300,
                      height: 280,
                      contentTemplate: function () {
                          return $("<p />").text(response.error);
                      }
                  });
                  $("#popup").dxPopup("show");

              } else {
                       window.location.href = "/SampleLocations/Index/" + @ViewBag.ID;
              }
          },
            error: function (response) {

            }
        });

      ////  $('[id^=COCGrid]')
      //  const dataGrid = $("#gridContainer").dxDataGrid("instance");
      //  dataGrid.expandAll(-1);
      //  var x = new Boolean(false);
      //  var listItems = $('[id^=COCGrid]');
      //  listItems.each(function (idx, li) {
      //      var grid = "#" + li.id;
      //      //var element = $(li);
      //      var subGrid = $(grid).dxDataGrid('instance');
      //     var rows = subGrid.getVisibleRows();
      //      // var selectedRows = dataGrid.getSelectedRowsData();
      //      var i;
      //      let value;
      //      for (i = 0; i <= 11; i++) {
      //          value = subGrid.cellValue(i, "ResponseValue")
      //          if (typeof value) {
      //              x = true;
      //              continue;
      //          }
      //          if (value.length === 0) {
      //              x = true
      //          }
      //      }
      //      if (x) {

      //      } else {
      //      }

            // and the rest of your code
        //});
          //  window.location.href = "/SampleLocations/Index/" + @ViewBag.ID;

    }

    function toolbar_preparing(e) {
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            location: "before",
            template: function () {
                return $("<div/>")

            }
        }, {
            location: "after",
            widget: "dxButton",
            options: {
                icon: "refresh",
                text: "Copy Cooler",
                onClick: function (e) {
                    var dataGrid = $('#gridContainer').dxDataGrid('instance');
                    var selectedRows = dataGrid.getSelectedRowsData();

                    $.post("/COCResponses/CloneCooler/", { id: selectedRows[0].ID}).done(function () {
                        window.location.href = "/COCResponses/Index/" + @ViewBag.ID;
                    });
                }
            }
        });

    }


    function toolbar_preparingpm(e) {
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            location: "before",
            template: function () {
                return $("<div/>")

            }
        }, {
            location: "after",
            widget: "dxButton",
            options: {
                icon: "save",
                text: "Save",
                onClick: function (e) {
                    dataGrid.saveEditData();
                }
            }
        });

    }


    function setcooler(e) {
       // var selectedRowIndex = e.component.getRowIndexByKey(e.selectedRowKeys[0]);
        var total = e.component.totalCount();

        if (total === 0) {
            e.data.Description = "Default Cooler";

        } else {
            total = total + 1;
            e.data.Description = "Cooler " + total;

        }
        e.data.CustodySeal = 0;
        e.data.ChillingProcessBegun = 0;

    }


    function toolbar_preparingsub(e) {
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            location: "before",
            template: function () {
                return $("<div/>")

            }
        }, {
            location: "after",
            widget: "dxButton",
            options: {
                icon: "refresh",
                text: "Accept All",
                onClick: function (e) {
                    dataGrid.cellValue(0, "Answer", "Yes")

                    dataGrid.cellValue(1, "Answer", "Yes")

                    dataGrid.cellValue(2, "ResponseValue", "Yes")

                    dataGrid.cellValue(3, "ResponseValue", "Yes")

                    dataGrid.cellValue(4, "ResponseValue", "Yes")

                    dataGrid.cellValue(5, "ResponseValue", "Yes")

                    dataGrid.cellValue(6, "ResponseValue", "Yes")

                    dataGrid.cellValue(7, "ResponseValue", "Yes")

                    dataGrid.cellValue(8, "ResponseValue", "Yes")

                    dataGrid.cellValue(9, "ResponseValue", "Yes")
                    dataGrid.cellValue(10, "ResponseValue", "Yes")
                    dataGrid.cellValue(11, "ResponseValue", "Yes")

                    dataGrid.saveEditData();
                }
            }
        });

    }

</script>


<h2>Cooler Questionnaire</h2>
<div id="popup"></div>
@(Html.DevExtreme().DataGrid<IntegritySheet.Models.Cooler>()
    .DataSource(ds => ds.WebApi()
        .RouteName("CoolersGridApi")
        .LoadAction("Get")
        .InsertAction("Post").OnBeforeSend("function(actionName, e) { if (actionName == 'insert') { e.data.SISID = '" + ViewBag.ID + "'; } }")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .LoadParams(new { SISID = ViewBag.ID })
        .Key("ID")
    )
    .NoDataText("No Coolers Found")

    .LoadPanel(p => p.Enabled(true))
    .OnToolbarPreparing("toolbar_preparing")
    .OnInitNewRow(@<text> function(e) { setcooler(e); } </text>)
     .Editing(e => e.Mode(GridEditMode.Popup)
            .AllowUpdating(true)
            .AllowAdding(true)
            .AllowDeleting(true)
            .UseIcons(true)
            .Popup(p => p
                .Title("Cooler Info")
                .ShowTitle(true)
                .Width(700)
                .Height(525)
            )
            .Form(f => f.Items(items =>
            {

                items.AddGroup()
                    .ColCount(2)
                    .ColSpan(2)
                    .Items(groupItems =>
                    {
                        groupItems.AddSimpleFor(m => m.Description);
                        groupItems.AddSimpleFor(m => m.Temperature);

                        groupItems.AddSimpleFor(m => m.ShippingMethod)
                          .Editor(ee => ee
                              .SelectBox()
                              .DataSource(ds => ds.WebApi().RouteName("COCResponsesGridApi").LoadAction("GetShippingData").Key("Name"))
                              .ValueExpr("Name")

                              .DisplayExpr("Name")

                              .Width("100%")

                          );

                        groupItems.AddSimpleFor(m => m.PackingMaterial)
                         .Editor(ee => ee
                            .SelectBox()
                            .DataSource(ds => ds.WebApi().RouteName("COCResponsesGridApi").LoadAction("GetPackingData").Key("Name"))
                            .ValueExpr("Name")

                            .DisplayExpr("Name")

                            .Width("100%")

                        );
                        groupItems.AddSimpleFor(m => m.Courier).Name("Courier");

                        groupItems.AddSimpleFor(m => m.CoolingMethod);

                    });

                items.AddGroup()
                     .Caption("Process Checks")
                     .ColCount(2)
                     .ColSpan(2)
                     .Items(groupItems =>
                     {
                         groupItems.AddSimpleFor(m => m.CustodySeal);
                         groupItems.AddSimpleFor(m => m.ChillingProcessBegun);
                     });


            })
            .ID("form")
            .FormData(Model)
            //.OnFieldDataChanged("Changed"))
        ))
    .ID("gridContainer")
    .Selection(s => s.Mode(SelectionMode.Single))
    //.OnEditorPreparing(@<text> function(e) { editprepare(e); } </text>)
    .RemoteOperations(true)
    .Columns(columns => {
        columns.AddFor(m => m.Description).Caption("Cooler Description");
        columns.AddFor(m => m.Temperature).Caption("Temperature");

        columns.AddFor(m => m.ShippingMethod).Caption("Shipping Method");
        columns.AddFor(m => m.Courier).Caption("Courier");

        columns.AddFor(m => m.CoolingMethod).Caption("Cooling Method").Lookup(lookup => lookup
                      .DataSource(ds => ds.WebApi().RouteName("COCResponsesGridApi").LoadAction("GetCoolingData").Key("ID"))
                      .ValueExpr("Name")
                      .DisplayExpr("Name"));

        columns.AddFor(m => m.PackingMaterial).Caption("Packing Material");


        columns.AddFor(m => m.CustodySeal).Caption("Custody Seal").DataType(GridColumnDataType.Boolean);

        columns.AddFor(m => m.ChillingProcessBegun).Caption("Chilling Process Begun").DataType(GridColumnDataType.Boolean);
    })
        .MasterDetail(md => {
        md.Enabled(true);
        md.Template(@<text>
            <div class="master-detail-caption"><%- data.Description %>'s Cooler Questions:</div>
            @(Html.DevExtreme().DataGrid<IntegritySheet.Models.COCResponseValidationModel>()
                .ColumnAutoWidth(true)
                .ID(new JS("'COCGrid' + key"))
                .ShowBorders(true)

                .Columns(columns => {

                    columns.AddFor(m => m.COCQuestionText).Caption("Question").AllowSorting(false).AllowEditing(false).Width(600);

                    columns.AddFor(m => m.ResponseValue).Lookup(lookup => lookup
                      .DataSource(ds => ds.WebApi().RouteName("COCResponsesGridApi").LoadAction("GetQuestionData").Key("ID"))
                      .ValueExpr("Name")
                      .DisplayExpr("Name")

                    ).Caption("Answer");


                })
                .Editing(e => e

                    .Mode(GridEditMode.Cell)
                    .AllowUpdating(true)
                    .AllowAdding(false)

                )
                .Selection(s => s.Mode(SelectionMode.Single))
                .OnToolbarPreparing("toolbar_preparingsub")
                .DataSource(ds => ds.WebApi()
                    .RouteName("COCResponsesGridApi")
                    .LoadAction("Get")
                     .InsertAction("Post").OnBeforeSend("function(actionName, e) { if (actionName == 'insert') { e.data.CoolerID = '" + new JS("data.ID") + "'; } }")

                    .UpdateAction("Put")
                    .DeleteAction("Delete")
                    .Key("ID")

                 .LoadParams(new { CoolerID = new JS("data.ID") })
                )
            )

            <br />
            <br />
            <h4>PM Information</h4>
            @(Html.DevExtreme().DataGrid<IntegritySheet.Models.PMNotification>()
                .ColumnAutoWidth(true)
                .ID(new JS("'PMGrid' + key"))
                .ShowBorders(true)
                .Columns(columns => {

                    columns.AddFor(m => m.PMName).Caption("PM Name").AllowEditing(true);

                    columns.AddFor(m => m.PMTime).Caption("PM Time").DataType(GridColumnDataType.DateTime);


                })
                .Editing(e => e

                    .Mode(GridEditMode.Cell)
                    .AllowUpdating(true)
                    .AllowAdding(true)

                )
                .Selection(s => s.Mode(SelectionMode.Single))
                .OnToolbarPreparing("toolbar_preparingpm")

                .DataSource(ds => ds.WebApi()
                    .RouteName("PMNotificationsGridApi")
                    .LoadAction("Get")
                    .InsertAction("Post").OnBeforeSend("function(actionName, e) { if (actionName == 'insert') { e.data.CoolerID = key; } }")

                    .UpdateAction("Put")
                    .DeleteAction("Delete")
                    .Key("ID")

                 .LoadParams(new { CoolerID = new JS("data.ID") })
                )
            )




        </text>);
        })

        )

<br />
<br />

@(Html.DevExtreme().ValidationSummary())
<br />
<br />

@(Html.DevExtreme().Button()
        .Text("Continue")
        .Type(ButtonType.Default)
       .OnClick("Next")
        .StylingMode(ButtonStylingMode.Contained)
        .Width(150)
)