﻿
@if (Request.IsAuthenticated)
{
    <text>
        <ul class="nav navbar-nav navbar-right">

            <li>
                @Html.ActionLink("Sign out", "SignOutCallback", "Home")
          

            </li>
        </ul>
    </text>
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Sign in", "SignIn", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
</ul>
}