﻿@model IEnumerable<IntegritySheet.Models.SampleLocationContainer>

@{
    ViewBag.Title = "Sample Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function goBack() {
        window.history.back();
    }

    function edit() {
        var dataGrid = $('#gridContainer').dxDataGrid('instance');
        var selectedRows = dataGrid.getSelectedRowsData();
    }


    function edit() {
        var dataGrid = $('#gridContainer').dxDataGrid('instance');
        var selectedRows = dataGrid.getSelectedRowsData();
    }


    function toolbar_preparing(e) {
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            location: "before",
            template: function () {
                return $("<div/>")

            }
        }, {
            location: "after",
            widget: "dxButton",
            options: {
                icon: "refresh",
                text: "Add Split/Preserve",
                onClick: function (e) {
                    var dataGrid = $('#gridContainer').dxDataGrid('instance');
                    var selectedRows = dataGrid.getSelectedRowsData();
                    window.location.href = "../SplitOrPreserves/Index/" + selectedRows[0].ID;
                }
            }
        });

    }

    function Save(e) {
        e.component.saveEditData();
    }

    function Cancel(e) {
        e.cancel = true;
        e.component.cancelEditData();
    }
</script>

<h2>Sample Locations</h2>

@(Html.DevExtreme().DataGrid<IntegritySheet.Models.SampleLocationContainer>()
.DataSource(ds => ds.WebApi()
    .RouteName("SampleLocationContainersGridApi")
    .LoadAction("Get")
    .InsertAction("Post").OnBeforeSend("function(actionName, e) { if (actionName == 'insert') { e.data.SLID = '" + ViewBag.ID + "'; } }")
    .UpdateAction("Put")
    .DeleteAction("Delete")
    .LoadParams(new { SLID = ViewBag.ID })
    .Key("ID")
)
.Selection(s => s.Mode(SelectionMode.Single))
.OnToolbarPreparing("toolbar_preparing")
.RemoteOperations(true)

.ID("gridContainer")
.Columns(columns => {
    columns.AddFor(m => m.BottleID).Lookup(lookup => lookup
        .DataSource(ds => ds.WebApi().RouteName("SampleLocationContainersGridApi").LoadAction("ContainersLookup").Key("ID"))
        .ValueExpr("Value")
        .DisplayExpr("Text"))
        .Caption("Bottle");

    columns.AddFor(m => m.Response); // question model lookup???

    columns.AddFor(m => m.SplitorPreserved).Lookup(lookup => lookup
      .DataSource(ds => ds.WebApi().RouteName("SampleLocationContainersGridApi").LoadAction("GetSPData").Key("ID"))
      .ValueExpr("ID")
      .DisplayExpr("Name"))
      .Caption("Split or Preserved"); //yes no lookup

})

    .Editing(e => e
        .AllowAdding(true)
        .Mode(GridEditMode.Popup)
        //.AllowUpdating(true)
        .AllowDeleting(true)
        .Popup(p => p
            .Title("Location Container")
            .ShowTitle(true)
            .Width(700)
            .Height(600)
        )
        
       )
)
<br/>

<div>
    @(Html.DevExtreme().Button()
        .Text("Edit")
        .Type(ButtonType.Default)
        .StylingMode(ButtonStylingMode.Contained)
        .Width(120)
        .OnClick("Edit")
    )
</div>

<div>
    @(Html.DevExtreme().Button()
        .Text("Clone")
        .Type(ButtonType.Default)
        .StylingMode(ButtonStylingMode.Contained)
        .Width(120)
        .OnClick("Clone")
    )
</div>

<div>
    @(Html.DevExtreme().Button()
        .Text("Back")
        .Type(ButtonType.Default)
        .StylingMode(ButtonStylingMode.Contained)
        .Width(120)
        .OnClick("goBack")
    )
</div>