﻿@model IEnumerable<IntegritySheet.Models.SampleLocationContainer>
@{
    ViewBag.Title = "Sample Descriptions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function goBack() {
        window.history.back();
    }

    function Edit() {
        var dataGrid = $('#gridContainer').dxDataGrid('instance');
        var selectedRows = dataGrid.getSelectedRowsData();
    }

    function toolbar_preparing(e) {
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            location: "before",
            template: function () {
                return $("<div/>")

            }
        }, {
            location: "after",
            widget: "dxButton",
            options: {
                icon: "refresh",
                text: "Add Split/Preserve",
                onClick: function (e) {
                    var dataGrid = $('#gridContainer').dxDataGrid('instance');
                    var selectedRows = dataGrid.getSelectedRowsData();
                    window.location.href = "/SplitOrPreserves/Index/" + selectedRows[0].ID;
                }
            }
        });

    }

    function Changed(e) {


        if (e.dataField === "Container.Bottle") {

            var cityEditor = e.component.getEditor("Check");
            let dataSource = cityEditor.getDataSource();
            dataSource.filter(["ID", "=", e.value]);
            dataSource.load();

            e.component.updateData("Container.Check", null);
            //e.option("value", e.value);
            cityEditor.option("value", e.value);


        }


    }

    function split(e) {
        let element = document.getElementById("form");
        let instance = DevExpress.ui.dxForm.getInstance(element);
        var filter = instance.getEditor("Check").getDataSource().filter(); // Save
        if (e.value == "X" || e.value == "S") {
            instance.itemOption("SplitBottle", "visible", true);
            instance.itemOption("SplitAmount", "visible", true);

        } else {
            instance.itemOption("SplitBottle", "visible", false);
            instance.itemOption("SplitAmount", "visible", false);
        }



        instance.getEditor("Check").getDataSource().filter(filter); // Reapply


    }

    function Save(e) {
        e.component.saveEditData();
    }

    function Cancel(e) {
        e.cancel = true;
        e.component.cancelEditData();
    }
</script>

<h2>Sample Descriptions</h2>
<h3>@ViewBag.Location</h3>


@using (Html.BeginForm("Post", "api/SampleLocationContainersGrid", FormMethod.Post))
{

    <input type="hidden" id="SLID" name="SLID" value="@ViewBag.ID">
    <input type="hidden" id="RETURNID" name="RETURNID" value="@ViewBag.RETURNID">
    @(Html.DevExtreme().Form<IntegritySheet.Models.SampleLocationContainer>()
        .ID("form")
        .OnFieldDataChanged("Changed")
        // .OnOptionChanged("Changed")
        // .OnInitialized("Changed")


        .Items(items => {
            items.AddGroup()
                .CssClass("first-group")
                .ColCount(4)
                .Items(groupItems => {
                    // groupItems.AddSimple().Template("<div class='form-avatar'></div>");

                    groupItems.AddGroup().ColSpan(3).Items(secondGroupItems => {
                        secondGroupItems.AddSimpleFor(m => m.Container.Bottle)
                                .Editor(e => e
                                .SelectBox()
                                .DisplayExpr("Bottle")
                                .ValueExpr("ID")
                                .DataSource(ds => ds.WebApi().RouteName("SampleLocationContainersGridApi").LoadAction("GetSPBottleData").Key("ID"))
                                .Width("100%")
                                .ID("MainBottle")
                                .Name("MainBottle")
                            //.OnChange("Changed")
                            // .OnValueChanged("Changed")
                            )

                            .Name("MainBottle")
                            .IsRequired(true);

                        secondGroupItems.AddSimpleFor(m => m.SampleAmount)
                                .Editor(e => e
                                .NumberBox()
                                .ShowSpinButtons(true)

                            )

                            .Name("Sample Amount")
                            .IsRequired(true);




                        secondGroupItems.AddSimpleFor(m => m.SampleAmount)
                            .Editor(e => e
                            .NumberBox()
                            .ShowSpinButtons(true)
                            .Name("SplitAmount")
                        )

                        .Name("SplitAmount")
                        .Label(label => label
                                // call methods to specify nested options
                                .Text("Split Amount")
                        )
                        .Visible(false)
                        .IsRequired(true);

                        secondGroupItems.AddSimpleFor(m => m.SampleType)
                            .Editor(e => e
                                .SelectBox()
                                .DisplayExpr("Name")
                                .ValueExpr("ID")
                                .DataSource(ds => ds.WebApi().RouteName("SampleLocationContainersGridApi").LoadAction("GetSampleData").Key("ID"))
                                .Width("100%")
                                .ID("Type")
                            )
                            .Name("SampleType")

                            .IsRequired(true);



                        secondGroupItems.AddSimpleFor(m => m.Container.Check)
                            .Editor(e => e
                                .SelectBox()
                                .DisplayExpr("Check")
                                .ValueExpr("ID")
                                .DataSource(ds => ds.WebApi().RouteName("SampleLocationContainersGridApi").LoadAction("GetSPBottleData").Key("ID"))
                                .Width("100%")
                            //.OnOpened("Changed")
                            )

                            .Name("Check")

                            .IsRequired(true);

                        secondGroupItems.AddSimpleFor(m => m.Response)
                            .Editor(e => e
                                .SelectBox()
                                .DisplayExpr("Name")
                                .ValueExpr("ID")
                                .DataSource(ds => ds.WebApi().RouteName("SampleLocationContainersGridApi").LoadAction("GetResponseData").Key("ID"))
                                .Width("100%")

                            )
                            .Name("Response");


                        items.AddButton()
                         .HorizontalAlignment(HorizontalAlignment.Left)
                         .ButtonOptions(b => b
                            .UseSubmitBehavior(true)
                            .Text("Submit")
                            .Type(ButtonType.Default)
                            .StylingMode(ButtonStylingMode.Contained)
                        );


                        items.AddButton()
                         .HorizontalAlignment(HorizontalAlignment.Left)
                         .ButtonOptions(b => b.Text("Back")

                            .Type(ButtonType.Default)
                            .StylingMode(ButtonStylingMode.Contained)
                            .Width(120)
                            .OnClick("goBack")

                         );
                    });
                });
        })

        .FormData(Model)
    )

}