﻿@model IEnumerable<IntegritySheet.Models.SampleLocationContainer>

@{
    ViewBag.Title = "Sample Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function goBack() {
        window.history.back();
    }

    function edit() {
        var dataGrid = $('#gridContainer').dxDataGrid('instance');
        var selectedRows = dataGrid.getSelectedRowsData();
    }


    function edit() {
        var dataGrid = $('#gridContainer').dxDataGrid('instance');
        var selectedRows = dataGrid.getSelectedRowsData();
    }


    function toolbar_preparing(e) {
        var dataGrid = e.component;
        e.toolbarOptions.items.unshift({
            location: "before",
            template: function () {
                return $("<div/>")

            }
        }, {
            location: "after",
            widget: "dxButton",
            options: {
                icon: "refresh",
                text: "Add Split/Preserve",
                onClick: function (e) {
                    var dataGrid = $('#gridContainer').dxDataGrid('instance');
                    var selectedRows = dataGrid.getSelectedRowsData();
                    window.location.href = "http://localhost:57019/SplitOrPreserves/Index/" + selectedRows[0].ID;
                }
            }
        });

    }

    function Save(e) {
        e.component.saveEditData();
    }

    function Cancel(e) {
        e.cancel = true;
        e.component.cancelEditData();
    }
</script>

<h2>Sample Locations</h2>

@(Html.DevExtreme().DataGrid<IntegritySheet.Models.SampleLocationContainer>()
.DataSource(ds => ds.WebApi()
    .RouteName("SampleLocationContainersGridApi")
    .LoadAction("Get")
    .InsertAction("Post").OnBeforeSend("function(actionName, e) { if (actionName == 'insert') { e.data.SLID = '" + ViewBag.ID + "'; } }")
    .UpdateAction("Put")
    .DeleteAction("Delete")
    .LoadParams(new { SLID = ViewBag.ID })
    .Key("ID")
)
.Selection(s => s.Mode(SelectionMode.Single))
.OnToolbarPreparing("toolbar_preparing")
.RemoteOperations(true)

.ID("gridContainer")
.Columns(columns => {
    columns.AddFor(m => m.BottleID).Lookup(lookup => lookup
        .DataSource(ds => ds.WebApi().RouteName("SampleLocationContainersGridApi").LoadAction("ContainersLookup").Key("ID"))
        .ValueExpr("Value")
        .DisplayExpr("Text"))
        .Caption("Bottle");

    columns.AddFor(m => m.Response); // question model lookup???

    columns.AddFor(m => m.SplitorPreserved).Lookup(lookup => lookup
      .DataSource(ds => ds.WebApi().RouteName("SampleLocationContainersGridApi").LoadAction("GetSPData").Key("ID"))
      .ValueExpr("ID")
      .DisplayExpr("Name"))
      .Caption("Split or Preserved"); //yes no lookup

})

    .Editing(e => e
        .AllowAdding(true)
        .Mode(GridEditMode.Popup)
        //.AllowUpdating(true)
        .AllowDeleting(true)
        .Popup(p => p
            .Title("Location Container")
            .ShowTitle(true)
            .Width(700)
            .Height(600)
        )
         .Form(f => f.Items(items =>
         {
             items.AddGroup()
                 .Caption("Sample Location")
                 .ColCount(4)
                 .Items(groupItems =>
                 {

                     groupItems.AddSimpleFor(m => m.Container.Bottle)
                                .Editor(ee => ee
                                .SelectBox()
                                .DisplayExpr("Bottle")
                                .ValueExpr("ID")
                                .DataSource(ds => ds.WebApi().RouteName("SampleLocationContainersGridApi").LoadAction("GetSPBottleData").Key("ID"))
                                .Width("100%")
                            )

                            .Name("Bottle")
                            .IsRequired(true);
                     groupItems.AddSimpleFor(m => m.SplitorPreserved)

                         .Editor(ee => ee
                             .SelectBox()
                             .DisplayExpr("Name")
                             .ValueExpr("ID")
                             .DataSource(ds => ds.WebApi().RouteName("SampleLocationContainersGridApi").LoadAction("GetSPData").Key("ID"))
                             .Width("100%")
                         )
                         .Name("Split")

                         .IsRequired(true);

                     groupItems.AddSimpleFor(m => m.SampleType)
                        .Editor(ee => ee
                            .SelectBox()
                            .DisplayExpr("Name")
                            .ValueExpr("ID")
                            .DataSource(ds => ds.WebApi().RouteName("SampleLocationContainersGridApi").LoadAction("GetSampleData").Key("ID"))
                            .Width("100%")
                        )
                        .Name("Split")

                        .IsRequired(true);

                     groupItems.AddSimpleFor(m => m.Response);

                     groupItems.AddSimpleFor(m => m.Container.Check)
                         .Editor(ee => ee
                             .SelectBox()
                             .DisplayExpr("Check")
                             .ValueExpr("ID")
                             .DataSource(ds => ds.WebApi().RouteName("SampleLocationContainersGridApi").LoadAction("GetSPBottleData").Key("ID"))
                             .Width("100%")
                         )
                         .Name("Check")
                         .IsRequired(true);

                 });
             items.AddGroup()
                 .Caption("Finish")
                 .ColCount(2)
                 .ColSpan(2)
                 .Items(groupItems =>
                 {
                     groupItems.AddButton()
                      .HorizontalAlignment(HorizontalAlignment.Left)
                      .ButtonOptions(b => b
                         .UseSubmitBehavior(true)
                         .Text("Submit")
                         .Type(ButtonType.Default)
                         .StylingMode(ButtonStylingMode.Contained)
                     );

                     groupItems.AddButton()
                      .HorizontalAlignment(HorizontalAlignment.Left)
                      .ButtonOptions(b => b.Text("Back")

                         .Type(ButtonType.Default)
                         .StylingMode(ButtonStylingMode.Contained)
                         .Width(120)
                         .OnClick("goBack")

                      );
          
                 });
         }))
       )
)
<br/>

<div>
    @(Html.DevExtreme().Button()
        .Text("Edit")
        .Type(ButtonType.Default)
        .StylingMode(ButtonStylingMode.Contained)
        .Width(120)
        .OnClick("Edit")
    )
</div>

<div>
    @(Html.DevExtreme().Button()
        .Text("Clone")
        .Type(ButtonType.Default)
        .StylingMode(ButtonStylingMode.Contained)
        .Width(120)
        .OnClick("Clone")
    )
</div>

<div>
    @(Html.DevExtreme().Button()
        .Text("Back")
        .Type(ButtonType.Default)
        .StylingMode(ButtonStylingMode.Contained)
        .Width(120)
        .OnClick("goBack")
    )
</div>